<h1>プロフィール入力</h1>

<%= form_with model: @user, url: forms_create_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name1, '名前1' %>
    <%= form.text_field :name1 %>
  </div>
  <div>
    <%= form.label :name2, '名前2' %>
    <%= form.text_field :name2 %>
  </div>
  <div>
    <%= form.label :profile, '自己紹介' %>
    <%= form.text_area :profile %>
  </div>
  <div>
    <%= form.label :icon_url, 'アイコン' %>
    <%# <%= form.image :icon_url, value: "https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" %>
    <%= image_tag "https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg", size: "300x300" %>
  </div>
  <div>
    <%= form.label :from, '参加可能時間 From' %>
    <%= form.time_select :from %>
    <%= form.label :to, 'To' %>
    <%= form.time_select :to %>
  </div>
  <div>
    <%= form.hidden_field :line_id, value: @user.line_id %>
  </div>
  <div>
    <%= form.hidden_field :event_id, value: @user.event_id %>
  </div>
  <div>
    <%= form.submit '送信' %>
  </div>
<% end %>
